src/main/mule/piplines.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9f2301a1-0f11-410a-ac55-e60c48a08f28" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="piplinesFlow" doc:id="95845e30-bd9a-4379-8973-78cdf9f4c7d8" >
		<http:listener doc:name="Listener" doc:id="f0d49d96-c52f-4068-92d6-1d8c5826e3a3" config-ref="HTTP_Listener_config" path="hp"/>
		<ee:transform doc:name="Transform Message" doc:id="72d12976-20ae-4ff7-888c-e864650ea410" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="609dd0be-f72f-4ef8-9fe9-521b47ba0fdb" message="#[payload]"/>
	</flow>
</mule>
